/*------------------------Login page-------------------------*/
.loginContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftSection {
  width: 50%;
  height: 100vh;
  background-image: url("fotboll.jpg");
  background-size: cover;
}

.rightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 10px;
}

h1 {
  font-size: 44px;
  margin-bottom: 26px;
}

.infoText {
  font-size: 21px;
}

.startpage input {
  margin-top: 20px;
}

/*------------------------Admin page-------------------------*/

.adminContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* .headline {
  margin-bottom: 30px;
} */

.adminTitle{
  font-size: 30px;
  margin-top: 30px;
}

.title {
  font-size: 25px;
  text-align: center;
  margin-top: 35px;
}

.addContainer {
display: flex;
flex-direction: row;
justify-content: center;
width: 90%;
border-bottom: 1px solid grey;
margin-top: 15px;
}

.addMember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.addMemberForm {
  width: 40%;
  padding: 30px 80px;
}

.tables {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logOutForm{
  width: 30%;
  margin: 0 0 20px 0;
  text-align: center;
}

.field {
  margin: 5px;
}

.control {
  margin: auto;
}

.select {
  margin: 20px 0 60px 0;
}

table {
  margin-top: 20px;
}

input {
  width: 45%;
  margin: 15px auto 0 auto;
}

/* Höger kolumn med tables */
.column {
  margin: 0;
}

.columns {
  border: 1px solid lightgrey;
  margin-top: 5px;
}
